USE [master]
GO
/****** Object:  Database [dynata]    Script Date: 6/28/2022 9:53:20 AM ******/
CREATE DATABASE [dynata]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dynata', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\dynata.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dynata_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\dynata_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dynata].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dynata]
GO
/****** Object:  Table [dbo].[FileObj]    Script Date: 6/28/2022 9:53:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FileObj](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[folderId] [int] NULL,
	[fileName] [varchar](30) NULL,
	[size] [decimal](18, 2) NULL,
	[url] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Folder]    Script Date: 6/28/2022 9:53:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Folder](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[FolderId] [int] NULL,
	[folderName] [varchar](30) NULL,
	[size] [decimal](18, 2) NULL,
	[isSubFolder] [bit] NULL,
	[url] [varchar](max) NULL,
	[level] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
